/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End of reset*/

/*Clearfix*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*General Formats */
h1, h2, h3, h4, h5, h6 {

  font-family: Lato, sans-serif;
  font-weight: 100;
  text-align: center;
}

p {

  font-family: Lato, sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 20px;

  line-height: 135%;

}

a {
    text-decoration: none;
}

ul, li {
  list-style-type:none;
  font-family: Lato, calibri, sans-serif;
  color: #fff;
  font-weight: 100;
  font-size: 20px;
}

header {
  background-image: url('/images/cosmo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 40% 0%;
  
  padding: 40px 80px;

}

#title {
  color: #fff;
  font-size: 150px;

}

#sub_heading {
  font-size: 40px;
  color: #fff;
  margin: auto;
  max-width: 600px;
  /*margin: 50px 550px;*/
  padding: 30px 0px;
  border-bottom: 3px solid white;
}

nav {
  margin-top: 50px;
  text-align: center;

}

nav li a:visited {
  color: #fff;

}




#layout {
  margin: auto;
  padding: 50px;
  border-bottom: 3px solid black;
  max-width: 1500px;

}




#main_content {
  margin: 0px;
  padding: 0px 50px 0px ;
  float: left;
  width: 75%;
  box-sizing: border-box;


}

#section_title {
  color: #000;
  font-weight: 300;
  font-size: 45px;
  margin: 0px 0px 50px;

}

#main_content > p{
  text-align: left;
  margin: 30px 0px;
  color: #19818A;

}

#side_content {
  
  margin: 0px;
  padding: 0px 0px 330px;

  background-color: #fff; 
  float: right;
  width: 25%;
  box-sizing: border-box;

}

#side_content > p {
  text-align: left;
  color: #19818A;
  font-size: 19px;


}

.side_title {
  color: #000;
  font-weight: 300;
  font-size: 35px;
  margin: 0px 0px 50px;

}




footer {
  font-family: Lato, calibri, sans-serif;
  font-weight: 300;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
  color: #19818A;
}

/* MOBILE ONLY */
@media only screen and (max-width: 480px){

  header {

    background-position: 50% 0%;
    max-width: 480px;
    
  }

  #title {
    font-size: 50px;

  }

  #sub_heading {
    font-size: 25px;

  }

  nav {
    margin-top: 25px;
  }

  p {

    font-size: 18px;
    line-height: 120%;

  }

  #layout {

    margin: 20px;
    padding: 30px;

  }

  #section_title {
    font-size: 1.75em;
    margin: 0px 0px 25px;

  }

  #main_content {

    padding: 0px;
    width: 100%;


  }


  #side_content {
 
    padding: 0px;
    width: 100%;

  }

  .side_title {
    font-size: 1.75em;
    margin: 0px 0px 25px;

  }

  footer {

    font-size: 18px;

  }


}
    
/* TABLET ONLY */
@media only screen and (min-width: 481px) and (max-width: 768px){

  header {

    background-position: 50% 0%;
    max-width: 768px;
    
  }

  #title {
    font-size: 75px;

  }

  #sub_heading {
    font-size: 35px;

  }

  nav {
    margin-top: 35px;
  }
    
  #main_content {

    padding: 0px;
    width: 100%;


  }


  #side_content {
 
    padding: 0px;
    width: 100%;

  }



}

/* DESKTOP ONLY */
@media only screen and (min-width: 769px){
    
  nav li{

    -webkit-transition: font-size 0.05s; /* For Safari 3.1 to 6.0 */
    transition: font-size 0.05s;

  }

  nav li:hover {
    font-size: 22px;

  }

  ul#main_nav > li.nav_item {

    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;

  }


  li.has_dropdown > ul > li.nav_item {

    display: block;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.3s ease-in-out;
    /*visibility: hidden;*/

  }

  li.has_dropdown:hover > ul > li.nav_item {
    opacity: 1;
    /*visibility: visible;*/

  }

}

